body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4A90E2;
    color: white;
    padding: 10px 0;
    margin: 0 -20px 20px -20px;
}

.search-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.weather-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.weather-section h2 {
    margin-top: 0;
}

.forecast-day {
    text-align: center;
    background-color: #4A90E2;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#history-list .card {
    cursor: pointer;
}

#history-list .card:hover {
    cursor: pointer;
}

/* Add loading cursor to the body */
/* https://stackoverflow.com/questions/9681080/changing-cursor-to-waiting-in-javascript-jquery */
/* https://developer.jboss.org/thread/153657 */
/* https://css-tricks.com/almanac/properties/c/cursor/ */
/* https://www.geeksforgeeks.org/how-to-set-the-cursor-to-wait-in-javascript/ */ 

body.loading {
    cursor: progress;
}

body.loading * {
    cursor: progress;
}
